<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>Just a static list</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#laptop">Laptop</a></li>
            <li><a href="#telefon">Telefon</a></li>
	    <li><a href="#student">Student</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>

  <div class="container">
    <div>
      <h1>{{ helloWorld }}</h1>
      <p>Writing this live into the browser...</p>
    </div>
  </div>

  <hr/>

  <!-- /resources1 -->
  <div class="container" ng-controller="HomeController">
    <a name="laptop">
    <h1>Laptop</h1>
    <h2>List all resources</h2>
    <table class="table table-bordered">
      <tr>
            <th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
		
		<tr ng-repeat="laptop in laptopouri" data-id="{{laptop.id}}">
            <td>{{ laptop.name }}</td>
            <td>{{ laptop.id }}</td>
            <td>
                <a href="">
				
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <button ng-click="setUpdateLpt(laptop)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>
          <a href="">
            <button ng-click="deleteLaptop(laptop.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
	  </table>

   <div class="row">
      <div class="col-md-3">
        <h2>Editeaza laptop</h2>
		 
        <form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editLpt.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="editLpt.name">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updateLpt()">Save</button>
            </form>
        </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adauga Laptop</h2>
        <form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="laptop.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="laptop.name">
                </div>

                <button ng-click="addLaptop(laptop)" class="btn btn-success">Add</button>
            </form>
        </div>
	</div>

</div>

<hr/>

  <!-- /resources2-->
  <div class="container" ng-controller="2HomeController">
    <a name="laptop">
    <h1>Telefon</h1>
    <h2>List all resources</h2>
    <table class="table table-bordered">
      <tr>
            <th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
		
		<tr ng-repeat="telefon in telefoane" data-id="{{telefon.id}}">
            <td>{{ telefon.name }}</td>
            <td>{{ telefon.id }}</td>
            <td>
                <a href="">
				
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <button ng-click="setUpdateTlf(telefon)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>
          <a href="">
            <button ng-click="deleteTelefon(telefon.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
	  </table>

   <div class="row">
      <div class="col-md-3">
        <h2>Editeaza telefon</h2>
		 
        <form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editTlf.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="editTlf.name">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updateTlf()">Save</button>
            </form>
        </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adauga telefon</h2>
        <form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="telefon.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="telefon.name">
                </div>

                <button ng-click="addTelefon(telefon)" class="btn btn-success">Add</button>
            </form>
        </div>
	</div>

</div>

<hr/>
<!-- /resources3-->
  <div class="container" ng-controller="3HomeController">
    <a name="laptop">
    <h1>Student</h1>
    <h2>List all resources</h2>
    <table class="table table-bordered">
      <tr>
            <th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
		
		<tr ng-repeat="student in studenti" data-id="{{student.id}}">
            <td>{{ student.name }}</td>
            <td>{{ student.id }}</td>
            <td>
                <a href="">
				
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <button ng-click="setUpdateStud(student)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>
          <a href="">
            <button ng-click="deleteStudent(student.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
	  </table>

   <div class="row">
      <div class="col-md-3">
        <h2>Editeaza student</h2>
		 
        <form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editStud.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="editStud.name">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updateStud()">Save</button>
            </form>
        </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adauga Student</h2>
        <form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="student.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="student.name">
                </div>

                <button ng-click="addStudent(student)" class="btn btn-success">Add</button>
            </form>
        </div>
	</div>

</div>

<hr/>

  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Copenhagen Robert-Marius, 333AA</p>
    </footer>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>